[Unit]
Description=Irrigation Controller
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 {{ irrigation_path }}/bot_irrigation.py >> {{ irrigation_path }}/bot.log 2>&1
User={{ procamora_user }}

[Install]
WantedBy=multi-user.target
